body.visitor .category-latest-posts {
  width: 100%;
  margin-top: 3rem;

  > div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 20px;
  }
}
