@use "../Components/Layout/Header/Header" as *;
@use "./Layout/Visitor.scss" as *;
@use "../Components/Pages/Dashboard/Destaque/Destaque.scss" as *;
@use "../Components/Shared/Post.scss" as *;
@use "../Components/Pages/Dashboard/LatestPosts/LatestPosts.scss" as *;
@use "../Components/Layout/Footer/Footer.scss" as *;
@use "../Components/Pages/Category/Title/Title.scss" as *;

// Reset do css

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}