@use "../Components/Layout/Visitor/Header/Header" as *;
@use "./Layouts/Visitor.scss" as *;
@use "../Components/Pages/Visitor/Dashboard/Destaque/Destaque.scss" as *;
@use "../Components/Shared/Post/Post.scss" as *;
@use "../Components/Pages/Visitor/Dashboard/LatestPosts/LatestPosts.scss" as *;
@use "../Components/Layout/Visitor/Footer/Footer.scss" as *;
@use "../Components/Pages/Visitor/Category/Title/Title.scss" as *;
@use "../Components/Pages/Visitor/Category/Destaque/Destaque.scss" as *;
@use "../Components/Pages/Visitor/Category/LatestPosts/LatestPosts.scss" as *;
@use "../Components/Pages/Visitor/Post/Info/Info.scss" as *;
@use "../Components/Pages/Visitor/Author/LatestPosts/LatestPosts.scss" as *;
@use "../Components/Pages/Visitor/Author/Info/Info.scss" as *;
@use "../Components/Shared/404/404.scss" as *;

// Reset do css

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
