// Visitors
@use "./Layouts/Visitor.scss" as *;
@use "../Components/Layout/Visitor/Header/Header" as *;
@use "../Components/Pages/Visitor/Dashboard/Destaque/Destaque.scss" as *;
@use "../Components/Shared/Post/Post.scss" as *;
@use "../Components/Pages/Visitor/Dashboard/LatestPosts/LatestPosts.scss" as *;
@use "../Components/Layout/Visitor/Footer/Footer.scss" as *;
@use "../Components/Pages/Visitor/Category/Title/Title.scss" as *;
@use "../Components/Pages/Visitor/Category/Destaque/Destaque.scss" as *;
@use "../Components/Pages/Visitor/Category/LatestPosts/LatestPosts.scss" as *;
@use "../Components/Pages/Visitor/Post/Info/Info.scss" as *;
@use "../Components/Pages/Visitor/Author/LatestPosts/LatestPosts.scss" as *;
@use "../Components/Pages/Visitor/Author/Info/Info.scss" as *;
@use "../Components/Shared/404/404.scss" as *;

// Admin
@use "../Components/Layout/Admin/Navbar/Navbar.scss" as *;
@use "../Components/Pages/Admin/Shared/TableForm/Select/Select.scss" as *;

// Imports
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("../../node_modules/admin-lte/dist/css/adminlte.min.css");
@import url("../../node_modules/choices.js/public/assets/styles/choices.min.css");

// Reset do css

body.visitor {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
