.header{
  display: flex;
  justify-content: space-between;
  align-content: center;
  color: #3B3C4A;

  .left{
    display: flex;
    align-items: center;
    text-decoration: none;

    > span:first-of-type{
      font-size: 40px;
      width: 110px;
      height: 50px;
      background-color: #141624;
      color: white;
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    > span:nth-child(2){
      font-size: 36px;
      font-weight: 500;
      color: #3B3C4A;
    }

    > span:last-of-type{
      font-size: 36px;
      font-weight: 700;
      color: #3B3C4A;
    }
  }

  .center {
    display: flex;
    list-style: none;
    gap: 40px;
    font-size: 16px;
    font-weight: 400;
    align-items: center;

    a {
      color: #3B3C4A;
      text-decoration: none;
    }
  }

  .right{
    display: flex;
    gap: 40px;
    align-items: center;

    div{
      display: flex;
      align-items: center;
      width: 160px;
      height: 36px;
      background-color: #F4F4F5;

      input{
        padding: 8px 12px 8px 16px;
        border: none;
        outline: none;
        background-color: #F4F4F5;
        width: 100%;
      }

      button{
        padding-right: 8px;
        border: none;
        width: 40px;
        background-color: transparent;

        img{
          width: 16px;
          height: 16px;
        }
      }
    }

    button{
      width: 48px;
      height: 28px;
      background-color: #E8E8EA;
      border: none;
      border-radius: 100px;
      cursor: pointer;

      &.dark{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 2px;

        span{
          background-color: #ffffff;
          width: 24px;
          height: 24px;
          border-radius: 100px;
          background-image: url("../images/light.svg");
          background-position: center center;
          background-repeat: no-repeat;
        }
      }

      &.light{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 2px;

        span{
          background-color: #ffffff;
          width: 24px;
          height: 24px;
          border-radius: 100px;
          background-image: url("../images/light.svg");
          background-position: center center;
          background-repeat: no-repeat;
        }
      }
    }
  }
}